<table>
  <tr><th>Unique ID</th><td><%=@received_sms.id%></td><th>To Port</th><td><%=@received_sms.gateway_id%></td></tr>
  <tr><th>From Number</th><td><%=@received_sms.originator%></td><th>Content</th><td><%=@received_sms.text%></td></tr>
  <tr><th>Received On</th><td><%=@received_sms.receive_date%></td><th>Message Header Date</th><td><%=@received_sms.message_date%></td></tr>
</table>
<hr>
