<center><table>
    <tr><th align='left'>Total SUCCESS sms</th><td><%=@success_sms%></td></tr>
    <tr><th align='left'>Total Queued  sms</th><td><%=@queued_sms%></td></tr>
    <tr><th align='left'>Total Failed  sms</th><td><%=@failed_sms%></td></tr>
    <tr><th align='left'>Total</th><td>       <%=@total_sms%> </td></tr>
</table></center>
<%=link_to "Back To Search Form" %>           
